.container{
    margin-left: 25px;
    margin-top: 10px;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 30px;
}


